<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="/layout :: head"></head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h1>Form create</h1>
<form id="form" th:object="${c}" method="post" action="/cities/create">
    <div>
        <label>Thành phố</label>
        <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors()}" th:errors="*{name}" style="color: red"></span>
    </div>
    <div>
        <label>Quốc gia</label>
        <select th:field="*{country}">
            <th:block th:each="c:${listCountry}">
                <option th:value="${c.id}" th:text="${c.name}"></option>
            </th:block>
        </select>
    </div>
    <div>
        <label>Diện tích</label>
        <input type="text" th:field="*{area}"/>
    </div>
    <div>
        <label>Dân số</label>
        <input type="text" th:field="*{population}"/>
    </div>
    <div>
        <label>GDP</label>
        <input type="text" th:field="*{GDP}"/>
    </div>
    <div>
        <label>Mô tả</label>
        <textarea  rows = "5" cols = "62" th:field="*{description}"></textarea>
    </div>
    <button class="btn btn-primary">Create</button>
</form>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>